<div class="text-center login-container">
  <div class="form-signin" [formGroup]="loginForm">
    <img
      src="../assets/images/user.svg"
      alt="user"
      class="mb-4"
      width="72"
      height="72"
    />
    <h1 class="h3 mb-3 font-italic">Iniciar sesión</h1>

    <label for="inputEmail" class="sr-only"> Correo </label>
    <input
      type="email"
      id="inputEmail"
      class="form-control"
      placeholder="Correo"
      formControlName="email"
    />
    <p
      style="color: rgb(230, 110, 110)"
      *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
    >
      Correo requerido
    </p>

    <label for="inputPassword" class="sr-only"> Contraseña </label>
    <input
      type="password"
      id="inputPassword"
      class="form-control"
      placeholder="Contraseña"
      formControlName="password"
      required
    />
    <p
      style="color: rgb(230, 110, 110)"
      *ngIf="
        loginForm.get('password')?.touched && loginForm.get('password')?.invalid
      "
    >
      Contraseña requerida
    </p>

    <button class="btn btn-lg btn-secondary m-3" (click)="onLogin()">
      Iniciar sesión
    </button>
    <button class="btn btn-lg btn-secondary m-3" (click)="onSingin()">
      Registrarse
    </button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
  </div>
</div>
