.bg-green{
    background-color: #aee2c3;
}

.custom-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.custom-div{
    width: 100%;
    max-width: 500px;
    padding: 30px;
    margin: auto;
    border-radius: 5px;
}

